@model IEnumerable<MilestoneOneLibraryWithMVC_Feb13.Models.TBorrow>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TakenDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReturnDate)
            </th>
           @* <th>
                @Html.DisplayNameFor(model => model.BookId) 
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentId)
            </th>  *@ 
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TakenDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnDate)
            </td>
           @* <td>
                @Html.DisplayFor(modelItem => item.BookId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentId)
            </td>*@ 
            <td>
                <a asp-action="Edit" asp-route-id="@item.BorrowId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BorrowId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BorrowId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
